<!-- #region head -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<!-- #endregion -->
<body>
  <div class="container">
    <div class="box header">Header</div>
    <div class="box sidebar">Sidebar</div>
    <div class="box ads">Ads</div>
    <div class="box main">Main Content</div>
    <div class="box news">News</div>
    <div class="box footer">Footer</div>
  </div>
</body>
</html