body {
  margin: 0;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}
.box {
  padding: 1em;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr 175px;

  grid-template-areas: 
    "header header header"
    "sidebar ads ads"
    "sidebar main news"
    "footer footer footer";
}
.header {
  grid-area: header;
  background-color: #253b4a;
}
.sidebar {
  grid-area: sidebar;
  background-color: #ffbc00;
}
.ads {
  grid-area: ads;
  background-color: #257d92;
}
.main {
  background-color: #ff530d;
}
.news {
  background-color: #ffbc00;
}
.footer {
  grid-area: footer;
  background-color: #257d92;
}